<h1 class="jumbotron">Your lucky numbers for today are</h1>

<ul>
  <li  class=" label label-success"><%= @first_number %></li>
  <li  class=" label label-success"><%= @second_number %></li>
  <li  class=" label label-success"><%= @third_number %></li>
  <li  class=" label label-success"><%= @fourth_number %></li>
  <li  class=" label label-success"><%= @fifth_number %></li>
</ul>
